.card{
    background-color: cadetblue;
    min-width: 590px;
    max-width: 595px;
    height: 234px;
    border-radius: 30px;
    background-image: url('https://i.ibb.co/HCLCWrG/image.jpg');
    background-size: 600px 234px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px
}

.card__title{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.city{
    font-size: 2rem;
    color: #555;
    font-weight: 500;
}


.button{
    color: #555;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 35px;
    font-size: 1rem;
    background-color: #F85A3E;
    border-radius: 5px;
    height: 2rem;
    border: none;
    margin: 7px;
    box-shadow: 3px 3px 3px #333;
}
.button:focus{
    outline: none;
}
.button:hover{
    box-shadow:0px 0px 0px;
    right: 7px;
    top: 8px;
}

.card__data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    font-size: 1.2rem;
    color: #555;
}

.icon{
    display: flex;
    background-color: rgba(102, 102, 102, .5); 
    border-radius: 20px;
    height: 90px;
    align-items: center;
}

.icon__image{
    opacity: 0.9;
   padding-bottom: 10px;
}

.temp__number{
    align-self: flex-end;
}

.col2{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}


.temp{
    display: flex;
    flex-direction: column;
    margin-top: -18px;
    padding-left: 5px;
    padding-right: 15px;
    font-size: 4rem;
    color: #555;
    font-weight: 400;
    width: -webkit-fill-available;
    
}

.temp__temp{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: #444;
    text-shadow: 2px 2px 4px #eee;
}

.temp__time{
    color: #eee;
    font-weight: 400;
    align-self:flex-end;
    text-shadow: 0px 0px 5px black;
    margin-top: 30px;

}