@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
}
body{
  background-color: #6ae;
}

.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}
