.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eff;
}

.top > a {
    color: #ffff01; 
    text-decoration: none;
}
.top > a:hover {
    color: #ffff01; 
    text-decoration: none;
}

.top__rigth{
    display: flex;
    align-items: center;
}
.top__links{
    color: #6ae;
    text-decoration: none;
    margin-right: 15px;
}
.top__links:hover{
    text-decoration: none;
}


.top__title{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: #ffff01;
    text-shadow: 2px 2px 2px #000, 0px 0px 4px #000;
    
}

.top__img{
    width: 80px;
    margin-right: 20px;
}
.top__grados{
    cursor: pointer;
}
